body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    background-size: cover;
    background-color: rgb(193, 148, 238);
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}
button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #a222d8;
    color: rgb(14, 18, 66);
}
